
<div class="container">


    <h1>All Flats</h1>

<!--
  </div> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Photo</th>
          <th scope="col">Users</th>
          <th scope="col">Address</th>
          <th scope="col">Description</th>
<!--           <th scope="col">Link</th> -->
<!--           <th scope="col">Delete</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @flats.each do |flat| %>
                  <tr>
                     <td>
                      <%= link_to (cl_image_tag flat.photo, height: 100, width: 170, crop: :fill), flat_path(flat) %>
                    </td>
                    <td>
                      <%= flat.user.name %>
                    </td>
                    <td>
                      <%= flat.address %>
                    </td>
                    <td>
                      <%= flat.description %>
                    </td>
                   
                  </tr>
                  <% end %>
      </tbody>
    </table>
    </tbody>
    </table>
   <div
  id="map"
  style="width: 100%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>">
  </div>
</div>
