
<div class="container">


    <h1>All Flats</h1>

<!--
  </div> -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Users</th>
          <th scope="col">Address</th>
          <th scope="col">Description</th>
          <th scope="col">Link</th>
          <th scope="col">Delete</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @flats.each do |flat| %>
                  <tr>
                    <td>
                      <%= flat.user.name %>
                    </td>
                    <td>
                      <%= flat.address %>
                    </td>
                    <td>
                      <%= flat.description %>
                    </td>
                    <td>
                      <%= link_to 'Booking', new_flat_booking_path(flat), class: "btn btn-primary" %>
                    </td>
                    <td>
                      <%= link_to 'Destroy',  { action: :destroy, id: flat.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </td>
                  </tr>
                  <% end %>
      </tbody>
    </table>
    </tbody>
    </table>
   <div
  id="map"
  style="width: 100%;
  height: 500px;"
  data-markers="<%= @markers.to_json %>">
  </div>
</div>
