<div class="container">


  <div class="cards text-center">



      <div class="cards_img">
        <%= cl_image_tag @flat.photo %>
      </div>

      <div>
        <h3><%= @flat.address %></h3>
      </div>

        <div>
           <%= @flat.description %>
        </div>

        <div>
          <%= link_to 'Back', flats_path, class: "btn btn-primary" %>

        <%= link_to 'Booking', booking_path , class: "btn btn-primary" %>
        </div>
  </div>
</div>
