
  <div class="container">
    <h2>Creates a booking:</h2>

    <%= simple_form_for [@flat, @booking] do |f| %>

      <%= f.input :start_date, label: 'date' %>
      <%= f.input :end_date, label: 'date ' %>
      <%= f.input :animal_id, as: :hidden, input_html:{value: current_user.animals.first.id}%>
      <%= f.input :flat_id, as: :hidden, input_html:{value: params[:flat_id]}%>
      <%= f.button :submit %>
    <% end %>
  </div>

