<h1>Booking</h1>


 <%=Booking.last.start_date%>
 <hr>
 <%=Booking.last.end_date%>
 <hr>
 <h4>Your Cat <strong><%=Booking.last.animal.name%> </strong> will be with <strong><%=Booking.last.flat.user.name%></strong> at this address :<strong><%=Booking.last.flat.address%></strong></h4>