<div class="container">
  <div class="col-lg col-sm">
      <div class="card hovercard">
          <div class="card-background">
            <img alt="" src="http://www.zayedhotel.com/addons/default/themes/yoona/img/user.jpg">
          </div>
          <div class="useravatar">
              <img alt="" src="http://www.zayedhotel.com/addons/default/themes/yoona/img/user.jpg">
          </div>
          <div class="card-info">
            <span class="card-title"><strong><%= @user.name %></strong></span>
          </div>
      </div>
      <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                  <div class="hidden-xs">Pets</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  <div class="hidden-xs">Flats</div>
              </button>
          </div>
          <div class="btn-group" role="group">
              <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <div class="hidden-xs">Help</div>
              </button>
          </div>
      </div>

          <div class="well">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Pet Name</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @user.animals.each do |animal| %>
                  <tr>
                    <th scope="row"><strong><%=animal[:name]%></strong></th>
                    <td><%= link_to 'Destroy', animal_path(animal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                <tr>
                  <td colspan="2"><%= link_to 'Add', new_animal_path, class: "btn btn-primary" %></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="tab-pane fade in" id="tab2">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Address</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% @user.flats.each do |flat| %>
                  <tr>
                    <td scope="row"><strong><%=flat[:address]%></strong></td>
                    <td><%= link_to 'Destroy', flat_path(flat), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                <tr>
                  <td><%= link_to 'All Flats', flats_path, class: "btn btn-primary" %></td>
                  <td><%= link_to 'Add', new_flat_path, class: "btn btn-primary" %></td>
                </tr>
              </tbody>
            </table>

          </div>
          <div class="tab-pane fade in" id="tab3">
            <h2>Do You need help?</h2>
            <h3>cathero@cathero.com</h3>
          </div>
        </div>
      </div>

      </div>
      </div>
