<h1>My Perfil</h1>

<h2>Bienvenue <strong><%= @user.name %></strong></h2>

<% @user.animals.each do |x| %>
          <h2> Vous avez enregistré :<strong><%=x[:name]%></strong><%= link_to 'Add', new_animal_path, class: "btn btn-primary" %> <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></h2>
          <% end %>

<% @user.flats.each do |x| %>
          <h2> Address :<strong><%=x[:address]%></strong><%= link_to 'Add a new flat', new_flat_path, class: "btn btn-primary" %> <%= link_to 'Destroy', method: :delete, data: { confirm: 'Are you sure?' } %></h2>
          <% end %>
<%= link_to 'Trouver son bonheur', flats_path, class: "btn btn-primary" %>

<!-- ,{ action: :destroy, id: @user.animals.last.id} -->
<!-- ,{ action: :destroy, id: @user.flats.last.id} -->